* {
  box-sizing: border-box;
}
body {
  border-color: #f5f5f6ff;
  background-color: black;
}

.container {
  padding: 10px;
  background-color: black;
  min-width: 700px;
  margin: 50px auto;
}

.btn {
  border: none;
  padding: 7px 15px;
  font-size: 20px;
  cursor: pointer;
}
.btn-add {
  background: #194064;
  color: white;
}

.btn-add:hover {
  background: #194064;
  color: white;
}

.addContainer {
  position: relative;
  background-color: red;
}

.close-btn {
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
